version: "3"
services:
  database:
    build: ./database
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: test123
      MYSQL_DATABASE: db_finanzas
    volumes:
      - database_info:/var/lib/mysql
    networks:
      - finanzasNetwork
  backend:
    build: ./backend
    restart: always
    ports:
      - "3000:3000"
    environment:
      DB_PORT: 3306
      DB_HOST: database
      DB_USER: root
      DB_PASSWORD: test123
      DB_NAME: db_finanzas
    networks:
      - finanzasNetwork
    depends_on:
      - database
    volumes:
      - ./backend:/backend
volumes:
  database_info:

networks:
  finanzasNetwork:
    driver: bridge