version: "3"
services:
  database:
    build: .
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: test123
      MYSQL_DATABASE: db_finanzas
    volumes:
      - database_info:/var/lib/mysql

volumes:
  database_info:
